apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-go-basic-gmcq
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/somahesh-tenant/devfile-sample-go-basic/devfile-sample-go-basic-gmcq@sha256:2ed763a3e01e5a1f412ece80d01854c4c169cb28aeb9b0de6d9efe4412c8e00c
        name: my-go
        resources: {}
status: {}
